body {
    background-color: #0d4a31;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu,
nav,
ul {
    display: flex;
    flex-direction: row;
}

.menu {
    justify-content: space-between;
    padding: 20px 100px;

}

nav,
ul {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    text-transform: uppercase;

}

.sign-in {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 21px;
    background-color: #f7c85a;
    color: #000;
}

.logo {
    color: #fff;
    text-transform: uppercase;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content1 {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.welcome {
    font-family: "playfair display";
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

p {
    font-family: "roboto";
    color: #fff;
    line-height: 1;
}

.get-started {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 21px;
    background-color: #f7c85a;
    color: #000;
    font-size: 12px;
    font-family: "roboto";
    text-transform: uppercase;
}

.watch-video {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 21px;
    background-color: #0d4a31;
    color: #fff;
    font-size: 12px;
    font-family: "roboto";
    text-transform: uppercase;

}


@media (max-width: 900px) {
    
    .logo {
        display: none;
    }

    .content1 {
        margin: auto;
        display: ;
    }
}